.solutions {
    &__wrap {
        padding: 110px 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            z-index: 3;
            top: 0;
            left: 26%;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: $accent;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }

   

    &__item-wrap {
        height: 405px;
        display: flex;
        flex-direction: column;
        max-width: 257px;
        position: relative;
        margin: 0 auto;
        &:hover {
            background-color: $blue;
            transition: 1s;

            &:after {
                content: '';
                position: absolute;
                right: 21px;
                bottom: 18px;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                -webkit-transform: translate(0, -50%) rotate(45deg);
                -ms-transform: translate(0, -50%) rotate(45deg);
                transform: translate(0, -50%) rotate(45deg);

            }
        }
    }

    &__item:hover &__title {
        color: $white;
    }

    &__img-wrap {
        width: inherit;
        height: 240px;
        margin-bottom: 40px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
    }



    &__title {
        font-family: 'Uni Neue Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.3;
        color: $black;
        margin-left: 14px;
        max-width: 258px;
    }

}

@media (max-width: 1024px) {
    .solutions {
        &__group {
            flex-wrap: wrap;
        }

        &__item {
            flex-basis: 50%;
        }
    }
}
@media (max-width: 570px) {
    .solutions {
     

        &__item {
            flex-basis: 100%;
        }
    }
}