.solutions {
    padding-bottom: 110px;

    &__wrap {
        padding-top: 110px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            z-index: 3;
            top: 0;
            left: 26%;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: $accent;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }



    &__item-wrap {
        height: 405px;
        display: flex;
        flex-direction: column;
        max-width: 257px;
        position: relative;
        margin: 0 auto;

        &:hover {
            background-color: $blue;
            transition: 1s;

            &:after {
                content: '';
                position: absolute;
                right: 21px;
                bottom: 18px;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                -webkit-transform: translate(0, -50%) rotate(45deg);
                -ms-transform: translate(0, -50%) rotate(45deg);
                transform: translate(0, -50%) rotate(45deg);

            }
        }
    }

    &__item:hover &__title {
        color: $white;
    }

    &__img-wrap {
        width: inherit;
        height: 240px;
        margin-bottom: 40px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
    }



    &__title {
        font-family: 'Uni Neue Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.3;
        color: $black;
        margin-left: 14px;
        max-width: 258px;
    }

}





/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {
    outline: none;

}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

.machinery {
    padding-bottom: 110px;

    &__slider {
        position: relative;

        .slick-arrow {
            position: absolute;
            // top: 50%;
            bottom: 0;
            z-index: 20;
            font-size: 0;
            width: 63px;
            height: 53px;
            background: $blue;
            border: none;
            outline: none;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;

            }
        }

        .slick-prev {
            left: 0;

            &:after {
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }

        .slick-next {
            left: 64px;

            &:after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .slick-disabled {
            opacity: 0.4;
        }
    }

    &__slider-item {
        display: flex;
        justify-content: flex-end;
    }
}

.projects {
    &__wrap {
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(40, 41, 42, 0.2);
        padding-bottom: 37px;

        &:not(:first-child) {
            padding-top: 60px;
        }
    }

    &__link-wrap {
        max-width: 750px;
    }

    &__link {
        font-family: 'Uni Neue Book', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.3;
        color: $blue;
        display: inline;
        max-width: 750px;
        border-bottom: 1px solid $blue;
    }

    &__description {
        margin: 16px 0;
        font-family: 'Uni Neue Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        color: $black;
        max-width: 900px;
    }

    &__logo-company {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 200px;
        margin-left: 15px;
    }

    &__img {
        width: 100%;
        margin-bottom: 10px;
    }

    &__company-info {
        font-size: 16px;
        line-height: 1.2;
        text-align: right;
        color: $black;
    }

    &__reviews {
        padding: 58px 0;
        display: flex;
        border-bottom: 1px solid rgba(40, 41, 42, 0.2);
    }

    &__badge {
        min-width: 395px;
        height: 139px;
        background: $accent;
        position: relative;
        padding-left: 180px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        margin-right: 57px;
    }

    &__badge-img {
        position: absolute;
        bottom: 0;
        left: 10px;
    }

    &__badge-content {
        display: flex;
        flex-direction: column;

    }

    &__badge-name {
        font-size: 20px;
        line-height: 1.2;
        color: $black;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.6;
        color: $black;
        margin-bottom: 10px;
    }

    &__more {
        padding: 22px 40px;
    }
}

.requisition {
    padding-top: 110px;
    &__form-wrap {
        padding-bottom: 115px;
        background-image: url(../img/bg-form.png);
        background-repeat: no-repeat;
        background-size: 56%;
        background-position:  0% 100%;
        display: flex;
    }

    &__banner {
        min-width: 355px;
        height: 325px;
        background-color: $accent;
        padding: 62px 36px 30px 66px;
    }

    &__title {
        font-family: 'Uni Neue Book';
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 1.2;
        color: $black;
        margin-bottom: 20px;
    }

    &__content {
        font-family: 'Uni Neue Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.4;
        color: $black;
        max-width: 200px;
    }

    &__form {
        width: 100%;
        min-height: 473px;
        background-color: $blue;
        padding: 63px 100px 58px;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;
    }

    &__name-wrap,
    &__phone-wrap {
        display: flex;
        flex-direction: column-reverse;
        width: 45%;
    }

    &__label {
        font-size: 18px;
        line-height: 1.2;
        color: $white;
        margin-bottom: 12px;
    }

    &__input {
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        background-color: $white;
        padding-left: 12px;
        font-size: 16px;
        line-height: 160%;
        color: rgba(40, 41, 42, 0.5);
        &::placeholder {
            color: rgba(40, 41, 42, 0.5);
        }
    }
  

    &__info {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &__textarea {
        width: 100%;
        min-height: 116px;
        padding: 13px 20px;
        border: none;
        outline: none;
        resize: none;
        font-size: 16px;
        line-height: 160%;
        color: rgba(40, 41, 42, 0.5);
        &::-webkit-scrollbar {
            width: 0;
          }
    }

    &__order-wrap {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        width: 45%;
        height: 50px;
        border: none;
        background-color: $black;
        color: $white;
        font-size: 18px;
        line-height: 1.2;
        cursor: pointer;
        transition: 0.5s ease-out;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
    &__text-wrap  {
        width: 45%;
    }
    &__text {
       width: 100%;
        font-size: 14px;
        line-height: 1.2;
        color: $white;
        display: inline;
    }
    &__link {
        color: $white;
        border-bottom: 1px solid  $white;
    }
}
.invalid {
    border: 1px solid #F33240;
    border-top: none;
    color:#F33240;
}
.invalid ~ .requisition__label{
    color:#F33240;
}
.valid ~ .requisition__label{
    color: $white;
}


/////////////////////////////////////
@media (max-width: 1024px) {
    .solutions {
        padding-bottom: 99px;

        &__wrap {
            padding-top: 99px;
        }

        &__group {
            flex-wrap: wrap;
        }

        &__item {
            flex-basis: 50%;
        }
    }

    .machinery {
        padding-bottom: 130px;
    }

    .projects {
        &__reviews {
            display: flex;
            flex-direction: column;
        }

        &__badge {
            margin-right: 0;
            width: 100%;
            min-width: auto;
            margin-bottom: 10px;
        }
    }
    .requisition {
        &__form-wrap {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 915px) {
    .machinery {
        &__slider {
            .slick-arrow {
                bottom: -63px;
                height: 40px;
            }
        }
    }

    .projects {
        &__link {
            font-size: 22px;
        }

        &__description {
            font-size: 16px;
        }
    }
}
@media (max-width: 768px) {
    .requisition {
        &__form {
            padding: 30px 50px;
        }
        &__banner {
            height: 250px;
        }
        &__data {
            flex-wrap: wrap;
        }
        &__name-wrap, &__phone-wrap {
            width: 100%;
        }
        &__name-wrap {
            margin-bottom: 26px;
        }
    }
}

@media (max-width: 570px) {
    .solutions {
        padding-bottom: 77px;

        &__wrap {
            padding-top: 77px;
        }

        &__item {
            flex-basis: 100%;
        }
    }

    .projects {
        &__item {
            flex-direction: column;
        }

        &__logo-company {
            margin-left: 0;
            align-items: flex-start;
        }

        &__company-info {

            text-align: left;

        }

        &__badge {
            padding-left: 145px;
            padding-right: 10px;
        }
    }
    .requisition {
        &__title {
            font-size: 28px;
        }
        &__form {
            padding: 30px 10px;
        }
        &__banner {
            padding: 30px;
            height: auto;
            min-width: auto;
        }
        &__content {
            max-width: none;
            margin-bottom: 5px;
        }
        &__order-wrap {
            flex-direction: column-reverse;
        }
        &__text-wrap {
            width: 100%;
            margin-bottom: 15px;
        }
        &__btn {
            width: 100%;
        }
    }
}