.solutions {
    padding-bottom: 110px;

    &__wrap {
        padding-top: 110px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            z-index: 3;
            top: 0;
            left: 26%;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: $accent;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }



    &__item-wrap {
        height: 405px;
        display: flex;
        flex-direction: column;
        max-width: 257px;
        position: relative;
        margin: 0 auto;

        &:hover {
            background-color: $blue;
            transition: 1s;

            &:after {
                content: '';
                position: absolute;
                right: 21px;
                bottom: 18px;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                -webkit-transform: translate(0, -50%) rotate(45deg);
                -ms-transform: translate(0, -50%) rotate(45deg);
                transform: translate(0, -50%) rotate(45deg);

            }
        }
    }

    &__item:hover &__title {
        color: $white;
    }

    &__img-wrap {
        width: inherit;
        height: 240px;
        margin-bottom: 40px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
    }



    &__title {
        font-family: 'Uni Neue Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.3;
        color: $black;
        margin-left: 14px;
        max-width: 258px;
    }

}





/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {
    outline: none;
    
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

.machinery {
    padding-bottom: 110px;
    &__slider {
        position: relative;

        .slick-arrow {
            position: absolute;
            // top: 50%;
            bottom: 0;
            z-index: 20;
            font-size: 0;
            width: 63px;
            height: 53px;
            background: $blue;
            border: none;
            outline: none;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;

            }
        }

        .slick-prev {
            left: 0;
            &:after {
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }

        .slick-next {
           left: 64px;
            &:after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
        .slick-disabled {
            opacity: 0.4;
        }
    }
    &__slider-item {
        display: flex;
        justify-content: flex-end;
    }
}


/////////////////////////////////////
@media (max-width: 1024px) {
    .solutions {
        padding-bottom: 99px;
        &__wrap  {
            padding-top: 99px;
        }
        &__group {
            flex-wrap: wrap;
        }

        &__item {
            flex-basis: 50%;
        }
    }
    .machinery {
        padding-bottom: 130px;
    }
}
@media (max-width: 915px) {
    .machinery {
        &__slider {
            .slick-arrow {
                bottom: -63px;
                height: 40px;
            }
        }
    }
}

@media (max-width: 570px) {
    .solutions {
        padding-bottom: 77px;
        &__wrap  {
            padding-top: 77px;
        }
        &__item {
            flex-basis: 100%;
        }
    }
}