.breadcrumbs {
    padding: 30px 0;

    &__link {
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: $blue;

        &_back {
            margin-left: 20px;
            padding-right: 15px;
            margin-right: 20px;
            position: relative;


            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -20px;
                display: inline-block;
                width: 7px;
                height: 7px;
                border-top: 1px solid $blue;
                border-right: 1px solid $blue;
                transform: translate(0, -50%) rotate(-135deg);
            }

            &:after {
                content: '';
                width: 1px;
                height: 80%;
                background-color: $blue;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0%, -50%);
            }
        }

        &:not(.withoutslash) {
            padding-right: 15px;
            margin-right: 10px;
            position: relative;

            &:after {
                content: '';
                width: 1px;
                height: 65%;
                background-color: $blue;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0%, -50%) rotate(-155deg);
            }
        }

    }
}

.machinery {
    padding-top: 22px;

    &__wrap {
        // display: flex;
        // justify-content: space-between;
        align-items: center;
        display: flex;
        justify-content: space-between;

    }

    &__img-wrap {
        max-width: 750px;
        margin-right: 50px;
    }

    &__img {
        width: inherit;
    }

    &__info-wrap {
        max-height: 510px;
        width: 300px;

    }

    &__info-item {
        max-width: 260px;
        background-color: $blue;
        padding: 22px 25px;

        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &__info {
        font-size: 16px;
        line-height: 1.5;
        color: $white;
    }
}

.equipments {
    padding-bottom: 110px;

    &__content-wrap {
        width: 851px;
        min-height: 552px;
        background: #E1E9ED;
        padding: 52px 260px 50px 65px;

    }

    &__text {
        font-size: 14px;
        line-height: 1.6;
        color: #28292A;
        margin-bottom: 20px;
    }

    &__slider-item {
        display: flex;
    }

    &__img-wrap {
        margin-left: -170px;
        margin-top: 67px;
        width: 489px;
        min-width: 294px;
    }

    &__slider {
        position: relative;

        .slick-arrow {
            position: absolute;
            // top: 50%;
            bottom: 18%;
            z-index: 20;
            font-size: 0;
            width: 63px;
            height: 53px;
            background: $blue;
            border: none;
            outline: none;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;

            }
        }

        .slick-prev {
            right: 64px;

            &:after {
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }

        .slick-next {
            right: 0;

            &:after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 21%;
            right: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            // min-width: 330px;
            width: 28%;
            cursor: pointer;
        }

        .slick-dots li {
            list-style: none;
            width: 100%;
        }

        .slick-dots button {
            font-size: 0;
            width: inherit;
            height: 1px;
            background-color: rgba(40, 41, 42, 0.8);
            border: none;
            outline: none;

        }

        .slick-dots li.slick-active button {
            height: 5px;
            background-color: $blue;
            cursor: pointer;
        }

        .slick-disabled {
            opacity: 0.4;
        }
    }
}

.personation {
    // padding-bottom: 110px;

    &__block {
        display: flex;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-image: url(../img/accent3.png);
            background-repeat: no-repeat;
            width: 298px;
            height: 278px;
            bottom: 0;
            right: 2%;
            z-index: -1;
        }
    }

    &__content-wrap {
        width: 851px;
        min-height: 619px;
        background: #E1E9ED;
        padding: 54px 300px 65px 65px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.44;
        color: $black;
    }

    &__video-wrap {
        margin-left: -170px;
        margin-top: 66px;
        width: 489px;
        // height: 336px;
    }

    &__video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__list-item {
        margin-bottom: 10px;
    }

    &__list {
        margin-bottom: 40px;
    }

}

.info {
    padding-bottom: 110px;

    &__wrap {
        display: flex;

    }

    &__img-wrap {
        background-color: $blue;
        min-width: 195px;
        height: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        padding: 35px 76px 48px 48px;



    }
}

.characteristics {
    padding-bottom: 110px;

    &__wrap {
        display: flex;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-image: url(../img/accent.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 159px;
            height: 159px;
            bottom: -3%;
            right: -1%;
        }
    }

    &__video-wrap {
        width: 489px;
        height: 336px;
    }

    &__video {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    &__content {
        padding: 60px 100px;
        background-color: $blue;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__text,
    &__indicator {
        font-family: 'Uni Neue Book', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 1.3;
        color: $white;
    }

    &__text {
        font-size: 16px;
    }

    &__indicator {
        font-size: 32px;
    }
}

.solving {
    padding-bottom: 110px;

    &__title {
        text-align: center;
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 33%;
        min-height: 368px;
        background-color: $accent;
        margin-left: 35px;
        transition: 0.5s;
        margin-right: 20px;

        &:hover {
            background-color: $blue;
        }
    }

    &__item:hover &__subtitle {
        color: $white;

        &:after {
            border-top: 2px solid $white;
            border-right: 2px solid $white;
        }
    }

    &__item:hover &__img-wrap {
        transform: scale(1.1);
    }

    &__img-wrap {
        width: 100%;
        height: 244px;
        overflow: hidden;
        margin-left: -35px;
        transition: 1s;

    }

    &__img {
        width: inherit;
        height: 100%;
        object-fit: cover;

    }

    &__subtitle {
        padding: 39px 50px 15px 30px;
        font-size: 18px;
        line-height: 1.3;
        color: $black;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 35px;
            top: 55px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-top: 2px solid $black;
            border-right: 2px solid $black;
            -webkit-transform: translate(0, -50%) rotate(45deg);
            -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
        }


    }
}

.block {
    max-width: 400px;
    max-height: 200px;
}

.simplebar-content-wrapper {
    padding-right: 0px !important;
    padding-left: 20px;
}

.simplebar-track.simplebar-vertical {
    background-color: transparent;
    overflow: visible;
    width: 5px;
    left: 0;

    /* margin: 20px 0; */
}


.simplebar-track.simplebar-vertical:before {

    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translate(-50%, 0%);
    background-color: #28292A;

}

/* .simplebar-track.simplebar-vertical:after {
    
    content: '>';
    position: absolute;
  bottom: -20px;
   left: 50%;
   transform: translate(-50%, 0%) rotate(90deg);
}
  */


.simplebar-content-wrapper {
    padding-right: 30px;
}

.simplebar-scrollbar:before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: #1781C0;
    border-radius: 0;


}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0;
    bottom: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}

.machinery__img-wrap {
    position: relative;
}

.dots {

    &__item {
        width: 50px;
        height: 50px;
        background-color: $blue;
        border: 6px solid $white;
        border-radius: 50%;
        box-shadow: 2px 6px 13px 3px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        line-height: 1.3;
        position: absolute;
        color: $white;
        transition: 1s;
        z-index: 1;
    }

    &__item[data-dots='1'] {
        top: 28%;
        left: 12%;
    }

    &__item[data-dots='2'] {
        top: 29%;
        left: 52%;
    }

    &__item[data-dots='3'] {
        top: 9%;
        left: 77%;
    }

    &__item[data-dots='4'] {
        top: 62%;
        left: 73%;
    }

    &__item[data-dots='5'] {
        top: 41%;
        left: 84%;
    }

}

.current {
    transform: rotate(360deg) scale(1.1);
    box-shadow: 2px 6px 13px 3px rgba(23, 129, 192, 0.6);
}




@media (max-width: 1100px) {
    .characteristics {
        &__wrap {
            &:after {
                bottom: -8%;
                right: -3%;
            }
        }

        &__content {
            padding: 53px 90px 53px 40px;
        }

        &__video-wrap {
            width: 403px;
            height: 277px;

        }
    }
}

@media (max-width: 970px) {
    .equipments .title-block {
        margin-bottom: 28px;
    }

    .equipments {
        &__img-wrap {
            min-width: 456px;
        }

        &__content-wrap {
            padding-right: 200px;
        }

        &__slider {
            .slick-dots {
                bottom: 35%;
                width: 31%;
            }

            .slick-arrow {
                bottom: 32%;
            }
        }
    }

    .personation {
        &__content-wrap {
            width: 656px;
            padding-right: 200px;
        }
    }
}

@media (max-width: 890px) {
    .characteristics {
        &__wrap {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__video-wrap {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 820px) {
    .equipments .title-block {
        font-size: 28px;
    }

    .equipments {
        &__slider-item {
            flex-direction: column;
        }

        &__content-wrap {
            width: 100%;
            min-height: auto;
            padding: 42px 20px;
        }

        &__img-wrap {
            margin-left: 0;
            margin-top: 0;
            min-width: 100%;
        }

        &__slider {
            .slick-dots {
                right: 0;
                bottom: -5%;
                width: 100%;
            }

            .slick-arrow {
                bottom: 5%;
            }
        }
    }
}

@media (max-width: 768px) {
    .personation {
        padding-bottom: 42px;
        background-color: $accent;

        &__block {
            flex-direction: column;
        }

        &__content-wrap {
            width: 100%;
            padding: 40px 0px;
        }

        &__video-wrap {
            margin-left: 0;
            margin-top: 0;
            width: 100%;
        }
    }

    .info {
        padding-bottom: 78px;

        &__wrap {
            padding-top: 42px;
            flex-direction: column;
        }

        &__img-wrap {
            min-width: auto;
            width: 94px;
            height: 94px;
        }

        &__img {
            width: 42px;
            height: 42px;
        }

        &__text {
            padding: 0;
            padding-top: 43px;
        }
    }

    .solving {
        &__group {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 55%;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 520px) {
    .equipments {
        padding-bottom: 190px;
        background-color: #e1e9ed;

        &__slider {
            .slick-arrow {
                bottom: -13%;
            }
        }
    }

    .characteristics {
        padding: 80px 0;

        &__wrap {
            &:after {
                bottom: 0;
                right: 0%;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__item {
            margin-bottom: 30px;
            width: 92%;
        }
    }

    .solving {
        padding-bottom: 40px;

        &__item {
            width: 75%;
        }
    }
}